@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black-rgb: 16, 15, 15;
  --paper-rgb: 255, 252, 240;
}

body {
  color: rgb(var(--paper-rgb));
  background: rgb(var(-black-rgb));
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
