@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-color: 0, 0, 0;
  --background-color: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --text-color: 255, 255, 255;
    --background-color: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
